# Binaries
**/bin/
!vendor/bin/premake/
bin-int/
#Pictures
**/assets/**.png
**/assets/**.obj
#Heavy lib
**/assimp/lib/
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user