# Binaries
**/bin/
!vendor/bin/premake/
bin-int/
#Pictures
Sandbox/assets/
Orion-Editor/assets/

#Heavy lib
**/assimp/lib/
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user